#accordion-toggle{
	display: none;
	position: absolute;
	color: #fff;
	font-size: 28px;
	margin-top: 9px;
	left: 9px;
	cursor: pointer;
}

#side-pane{
	background-color: #bbb;
	height: 100%;
	width: 250px;
	overflow: auto;
}

.accordion-header, .accordion-content{
	position: relative;
	padding: 15px 25px;
}

.accordion-header{
	border-top: 1px solid #fff;
}

.accordion-header:first-child{
	border:none;
}

.accordion-header:hover{
	background-color: #dadada;
	cursor: pointer;
}

.accordion-header.active:hover{
	background-color: #bbb;
	cursor: default;
}

.accordion-header-arrow{
	position: absolute;
	top: 30px;
	left: 0;
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;	
	border-left: 20px solid #fff;
}

.accordion-header-number, .accordion-header-title{
	vertical-align: middle;
}

.accordion-header-number{
	padding: 0 10px;
	color: #fff;
	font-size: 72px;
	font-family: 'Average-Regular';
}

.accordion-header-title{
	font-size: 16px;
	font-weight: bold;
}

.accordion-content{
	display: none;
	font-size: 14px;
	font-family: Georgia;
	line-height: 1.4em;
	overflow: auto;
}

#time-pane{
	background: #888;
	width: 100%;
}

.map{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	z-index: 0
}

.map.active{
	z-index: 1;
}

.simpleGeocoder{
	position: absolute;
	top: 20px;
	left: 71px;
	z-index: 30;
}

#legend-toggle{
	background-color: #bbb;
	color: #fff;
	padding: 8px 15px;
	cursor: pointer;
}

#legend-pane{
	background-color: #fff;
	overflow: hidden;
	border-right: 2px solid #bbb;
	border-bottom: 2px solid #bbb;
	border-left: 2px solid #bbb;
}


b{
	font-weight: bold;
}

#mobile-navigation{
	display: none;
	background: #888;
	color: #000;
	width: 100%;
	height: 44px;
	cursor: pointer;
}

#mobile-navigation-arrow{
	position: absolute;
	top: 2px;
	left: 0;
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;	
	border-left: 20px solid #fff;
}


#mobile-navigation-content{
	padding: 14px 14px 14px 35px;
	font-weight: bold;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Custom Webkit Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
    background: #888;
}

@media all and (min-width: 781px) {
	#accordion-toggle{
		display: none;
		cursor: pointer;
	}

	#map-toggle{
		cursor: pointer;
	}
}

@media all and (max-width: 780px) {
	#side-pane{
		display: none;
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		z-index: 10;
	}

	#accordion-toggle{
		display: block;
	}

	.accordion-header, .accordion-content{
		padding: 10px 25px;
	}

	.accordion-header-arrow{
		top: 20px;
	}

	.accordion-header-number{
		font-size: 50px;
	}

	.accordion-header-title{
		font-size: 15px;
	}
	
	.esriPopup{
		display: none;
	}

	.contentPane{
		padding: 15px;
		max-height: 150px;
		overflow: auto;
	}

	#mobile-navigation{
		display: block;
	}
}